{% extends 'base.html' %}

{% block title %}
Профиль
{% endblock %}

{% block content %}

    <h1>Все клиенты</h1>

    <table>
        <tr>
            <th>№ п/п</th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Сотрудничество с</th>
            <th>Размер долга</th>
            <th>Задолженность появилась</th>
        </tr>
        <tr>
            <th>1</th>
            <th>Иванов</th>
            <th>Иван</th>
            <th>Иванович</th>
            <th>29.03.17</th>
            <th>100000 руб.</th>
            <th>30.08.21</th>
        </tr>
    </table>

{% endblock %}