{% extends 'base.html' %}

{% block title %}
Профиль
{% endblock %}

{% block content %}
    <h1>{{ request.user.first_name }} {{ request.user.last_name }}</h1>
    <h2 style="margin-bottom: 4rem">Все клиенты</h2>

    <div class="manager-buttons-div">
            <button class="edit-employee-data top-weight" id="copy-API-key">Копировать API key</button>
            <a class="manager-leave edit-employee-data top-weight" href={% url 'logout' %}>Выйти</a>
    </div>

    <table>
        <tr>
            <th>№ п/п</th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Сотрудничество с</th>
            <th>Размер долга</th>
            <th>Задолженность появилась</th>
        </tr>

        <tr>
            <th>1</th>
            <th>Иванов</th>
            <th>Иван</th>
            <th>Иванович</th>
            <th>29.03.17</th>
            <th>100000 руб.</th>
            <th>30.08.21</th>
        </tr>
    </table>

{% endblock %}