{% extends 'base.html' %}
{% block headappend %}
    {% load static %}
    <script src="https://api-maps.yandex.ru/2.1/?apikey=0b762305-3c39-485f-bcd0-6f56d42398c5&lang=ru_RU"
            type="text/javascript"></script>
    <script src={% static '/js/map.js' %}></script>

{% endblock %}
{% block title %}MAP{% endblock %}
{% block content %}
    <div id="map"></div>
    <script src="{% static '/js/ajax.js' %}"></script>

    <div class="rising-menu-container">
        <div class="client-info-container">
            <div class="client-rating-and-name">
                <div class="rating-container"></div>
                <div class="client-name-container">
                    <h1 class="client-name-container-name">Василий</h1>
                    <h1 class="client-name-container-lastname">Васильев</h1>
                </div>
            </div>
        </div>

        <div class="info-about-user-in-rising-menu">
            <div class="user-data-container-in-rising-menu">
                <h1 class="user-data-container-in-rising-menu-h1">Долг</h1>
                <div class="quantity-of-something">
                    <div class="quantity-of-something-number">2</div>
                    <div class="quantity-of-something-text">тыс</div>
                </div>
            </div>
            <div class="user-data-container-in-rising-menu">
                <h1 class="user-data-container-in-rising-menu-h1" id="way_length">Расстояние</h1>
                <div class="quantity-of-something">
                    <div class="quantity-of-something-number">7</div>
                    <div class="quantity-of-something-text">км</div>
                </div>
            </div>
            <div class="user-data-container-in-rising-menu">
                <h1 class="user-data-container-in-rising-menu-h1">Сотрудничество</h1>
                <div class="quantity-of-something">
                    <div class="quantity-of-something-number">2</div>
                    <div class="quantity-of-something-text">года</div>
                </div>
            </div>
        </div>
        <a class="comments-about-client" href="">Комментарии</a>
    </div>

<div class="pop-up-begin-disabled" id="pop-up-begin">
        <div>
            <h1>Вы прибыли</h1>
            <h3>Для начала взыскания, нажмите кнопку</h3>
            <button type="button" class="enter-btn" id="begin-btn">Начать</button>
        </div>
    </div>

    <div class="pop-up-end-disabled" id="pop-up-end">
        <div>
            <h1>Завершить взыскание?</h1>
            <button type="button" class="enter-btn" id="end-btn" >Завершить</button>
        </div>
    </div>

{% endblock %}