@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --standart-button-background-color: #E5E5E5;
    --standart-button-boxshadow-color: #E5E5E5;
    --standart-button-text-color: #D0D0D0;

    --start-button-background-color: #239EDA;
    --start-button-text-color: #FFFFFF;
    --start-button-boxshadow-color: rgba(10, 125, 182, .3);

    --exit-button-text-color: #CC2F2F;

    --skip-button-text-color: #BBBBBB;

    --rating-good-color: #588F98;
    --rating-medium-color: #CC8D2F;
    --rating-bad-color: #CC2F2F;

    --tutor-text-color: #239EDA;

    --client-info-background-color: #F4F4F4;

    --placeholder-color: #A0A0A0;

    --input-background-color: #F4F4F4;
    --input-border-color: #F4F4F4;
    --input-border-hover-color: #D0D0D0;

    --employee-info-container-boxshadow-color: #E5E5E5;
    --employee-info-container-background-color: #F4F4F4;
    --employee-edit-button-color: #F4F4F4;
    --employee-edit-button-boxshadow-color: rgba(244, 244, 244, 1);

    --rising-menu-number-background-color: #F4F4F4;

    --pop-up-inner-container: #F4F4F4;
    --pop-up-background-color: rgba(85, 85, 85, .4);
    --pop-up-border-color: #D0D0D0;

    --table-background-color: #F4F4F4;
}

html {
    font-size: 50px;
}

body {
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    height: 100vh;
    overflow-y: hidden;
}

a {
    text-decoration: none;
    color: #fff;
}


button {
    border: 0;
    background-color: #fff;
    overflow: visible;
}

.content {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.name-div {
    text-align: center;
    font-weight: 700;
}

h1, h2 {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5625rem;
    line-height: 1.375rem;
}

.leave-comment {
    margin-top: 3rem;
    font-size: 1.2rem;
    font-weight: 400;
}

.btns-div {
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
}

.enter-btn {
    color: var(--start-button-text-color);
    font-size: 1rem;
    text-align: center;

    -webkit-border-radius: 1.25rem;
    -moz-border-radius: 1.25rem;
    border-radius: 1.25rem;

    background-color: var(--start-button-background-color);

    box-shadow: 0 .8rem 1rem var(--start-button-boxshadow-color);
    padding: 1.25rem 3.9rem;

    cursor: pointer;

    transition: all .3s;
}

.enter-btn:hover {
    transform: scale(1.07);
}

.leave-btn {
    margin-top: 4rem;
    color: var(--exit-button-text-color);
    font-size: 1rem;
    text-align: center;
}

.skip-btn {
    margin-top: 4rem;
    color: var(--skip-button-text-color);
    font-size: 1rem;
    text-align: center;
}

.center {
    margin: 3rem auto;
}

.your-client {
    font-weight: 700;
    font-size: .74rem;
}

.rating-container {
    background-color: var(--rating-good-color);
    position: relative;
    height: 1.4rem;
    width: 1.2rem;
}

.client-info {
    font-size: 1.1rem;
    background-color: var(--client-info-background-color);
    padding: 1.2rem;
}

.client-name, .client-lastname {
    text-align: center;
}

/* Login page */
.input-container {
    display: flex;
    flex-direction: column;
}

.input {
    display: block;
    width: 100%;
    padding: 1rem 1.5rem;
    background-color: var(--input-background-color);
    background-clip: padding-box;
    border-radius: 1.6rem;
    line-height: 1.5rem;
    border: 1px solid var(--pop-up-border-color);
    font-size: 1.2rem;
}

.input:focus, .textarea:focus, .pop-up-input:focus {
    outline: none;
    border: 1px solid var(--input-border-hover-color);
}

.input::placeholder, .textarea::placeholder, .pop-up-input::placeholder {
    color: var(--placeholder-color);
    text-align: center;
    font-size: 1.3rem;
}

.input:last-child {
    margin-top: 3rem;
}

.input:checked {
    border: 1px solid var(--start-button-text-color);
}

.textarea {
    margin-top: 3.5rem;
    display: block;
    width: 100%;
    padding: 1rem 1.5rem;
    background-color: var(--input-background-color);
    background-clip: padding-box;
    border-radius: 1.6rem;
    line-height: 2rem;
    border: 1px solid var(--input-border-color);
    font-size: 1.2rem;
    height: 15rem;
    resize: none;
}

.employee-info-container {
    background-color: var(--employee-info-container-background-color);
    padding: 2rem;
    border-radius: 1.1rem;
    box-shadow: 0 10px 10px var(--employee-info-container-boxshadow-color);
}

.employee-rating-and-name, .client-rating-and-name {
    display: flex;
}

.rating-container {
    flex-basis: 30%;
    border-radius: 1.1rem;
    height: auto;


    background-color: var(--rating-good-color);
    backdrop-filter: blur(25.5px);
    -webkit-backdrop-filter: blur(25.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
    -webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
    -webkit-border-radius: 19px;
    color: rgb(255, 255, 255);

    opacity: .6;
}

.edit-employee-data {
    margin-bottom: 3rem;

    font-size: 1rem;
    text-align: center;

    -webkit-border-radius: 1.25rem;
    -moz-border-radius: 1.25rem;
    border-radius: 1.25rem;

    background-color: var(--employee-edit-button-color);

    box-shadow: 0 .8rem 1rem var(--employee-edit-button-boxshadow-color);
    padding: 1.25rem 3.9rem;

    cursor: pointer;

    transition: all .3s;
}

.employee-name-container, .client-name-container {
    flex-basis: 70%;
    margin-left: 1.5rem;
    font-size: 1.1rem;
    font-weight: 700;
}

.employee-name-container-name, .client-name-container-name {

}

.employee-name-container-lastname, .client-name-container-lastname {
}

.statistic-container {
}

.statistic-container-inner-block {
    display: flex;
    margin-top: 1.2rem;
}

.number-of-successful-recoveries {
}

.statistic-container-inner-block-text {
    text-align: left;
    flex-basis: 50%;
}

.statistic-container-inner-block-number-or-percent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
    font-weight: 700;
    font-size: 1.1rem;
}


#map {
    height: 100vh;
    width: 100%;
}

.map-container {
    position: relative;
    height: 100vh;
}

.rising-menu-container {
    width: 30%;
    margin: 0 auto;
    background-color: #FFF;
    border-radius: 1.1rem;
    position: absolute;
    bottom: -50%;
    left: 50%;
    transform: translate(-50%, 0);
    box-shadow: 0 -10px 10px var(--standart-button-boxshadow-color);

    transition: .4s linear;
}

.rising-menu-container:hover {
    bottom: 8%;
}

.client-info-container {
    padding: 2rem;
}

.info-about-user-in-rising-menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 2rem 2rem;
}

.user-data-container-in-rising-menu {
    width: 45%;
}

.user-data-container-in-rising-menu:nth-child(odd) {
    margin-top: 3rem;
}

.user-data-container-in-rising-menu:first-child {
    margin-top: 0;
}

.user-data-container-in-rising-menu-h1 {
    text-align: left;
}

.quantity-of-something {
    display: flex;
}

.quantity-of-something-number {
    border-radius: 1.1rem;
    padding: 1.1rem 3rem;
    background-color: var(--rising-menu-number-background-color);
}

.quantity-of-something-text {
    display: flex;
    align-items: center;
    margin-left: .2rem;
}

.comments-about-client {
    display: block;
    margin: 1.5rem 2rem 2rem;
    padding: 1rem 1.5rem;
    background-color: var(--input-background-color);
    background-clip: padding-box;
    border-radius: 1.6rem;
    line-height: 1.5rem;
    border: 1px solid var(--input-border-color);
    font-size: 1.2rem;
    color: #000;
    text-align: center;
}

.pop-up-edit-profile-disabled {
    display: none;
}

.pop-up-edit-profile-enabled {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0; left: 0;
    background-color: var(--pop-up-background-color);
}

.pop-up-inner-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    padding: 1.5rem;
    border-radius: 1.1rem;
    background-color: var(--pop-up-inner-container);
}

.pop-up-inner-container > div > label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.pop-up-input {
    background-color: var(--input-background-color);
    background-clip: padding-box;
    padding: 1rem 1.5rem;
    border-radius: 1.6rem;
    line-height: 1.5rem;
    border: 1px solid var(--pop-up-border-color);
    font-size: 1rem;
    margin-left: .5rem;
}


.pop-up-begin-disabled {
    display: none;
}

.pop-up-begin-enabled {
    display: block;
}

.pop-up-end-disabled {
    display: none;
}

.pop-up-end-enabled {
    display: block;
}

.manager-buttons-div {
    display: flex;
    justify-content: space-between;
}
.top-weight {
    font-weight: 700;
}
.manager-leave {
    margin-left: 9rem;
    color: var(--exit-button-text-color);
}

table {
    background-color: var(--table-background-color);
    padding: 2rem 3rem;
    border-radius: 1.1rem;
    border-collapse: separate;
    border-spacing: 3rem 2rem;
}


table > tr > th {
    font-weight: 400;
    border-collapse: separate;
    border-spacing: 0px 1rem;
}

@media (max-width: 1920px) {
    html {
        font-size: 15px;
    }
    .rising-menu-container {
        bottom: -45%;
    }
    .rising-menu-container:hover {
        bottom: 0;
    }

}

@media (max-width: 1400px) {
    html {
        font-size: 18px;
    }

    .rising-menu-container {
        width: 50%;
    }
}

@media (max-width: 1200px) {
    html {
        font-size: 20px;
    }

    .rising-menu-container {
        width: 60%;
    }
}

@media (max-width: 992px) {
    html {
        font-size: 32px;
    }
    .content {
        padding: 0 1rem;
    }
    .rising-menu-container:hover {
        bottom: -13%;
    }
    .rising-menu-container {
        width: 100%;
        bottom: -45%;

    }
}

@media (max-width: 768px) {
    html {
        font-size: 40px;
    }
}

@media (max-width: 576px) {
    html {
        font-size: 44px;
    }
}

